li{
    font-family:avenir, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo-image{
    width:100px;
    padding:10px;
}

.jumbotron-fluid{
    background-image:url("../images/home/pettrek.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
}

.container{
    background-color: white;
}

.display-1{
    display:flex;
    justify-content: center;
}

h1,h2,h3,h4,h5,h6{
    font-family:avenir, sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;
}

h1{
    font-weight:bold !important;
    font-size:40px !important;

}

h4{
    font-size:25px !important;
}

p{
    font-size:15px !important;
}

.display-4, .lead{
    margin-left:15px;
}

.display-1{
    padding:15px;
}

.bottom{
   padding-bottom:15px;
}

.card-img-top-1{
    width:100%;
}

.card-img-top-2{
    width:50%;
    display:flex;
    justify-content: center;

}

.card-img-top-3{
    width:100%;
}

.card-img-top-4{
    width:100%;
}

.cardgrid{
    display:grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows:auto;
    margin:75px;
    grid-template-areas:
    "card1 card2 card3 card4"
}

@media only screen and (max-width:600px){
    .cardgrid{
        display:grid;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows:auto;
        margin:75px;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
    }
}

.card1{
    grid-area: card1;
    border:black solid .5px;
    margin:10px;
}

.card2{
    grid-area: card2;
    border:black solid .5px;
    margin:10px;
}

.card3{
    grid-area: card3;
    border:black solid .5px;
    margin:10px;
}

.card4{
    grid-area: card4;
    border:black solid .5px;
    margin:10px;
}

.cardheader{
    display:flex;
    justify-content: center;
    margin-top:75px;
}

.carousel-item{
    width:100%
}

.prototype{
    margin-bottom:75px;
}

.col-6{
    padding:50px;
}

.col-space{
    margin-top:100px;
}

.row{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
    grid-template-areas:
    "photo text"
}

@media only screen and (max-width:600px){
.row{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
    grid-template-areas:
    "photo"
    "text"
}
}

.col-6{
    grid-area:photo;
}

.col-space{
    grid-area:text;
}